body {
	background-color: green;
	color: black;
}
#menubutton {
	border-style:none;
	width: 148; height: 34;
}
#menubutton:hover {
	background-color: white;
}
#menu {
	background-color: black;
	}

#bigcontainer {
    background-color: white;
    margin-left: 18%;
    margin-right: 22%;
    margin-top: 
    position: fixed;
    top: 0px;
    width: 65%;
    padding:10px;
    height:100%;
    style:solid;
}
#slide {
    margin-left: auto;
    margin-left: auto;
}